html {
   
}



 body {
 
    background-color: white;

   
}

/*kiki1 {
    color:rgba(255, 99, 71, 0.8);
    font-weight:bolder;
    font: 50px Impact, sans-serif;
    background-color: white;
    font-weight:bold;
} 
*/


    
}
h1  {
    color: rgba(255, 99, 71, 0.8);
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    letter-spacing: 1px;
    padding-left: 30px;
}

mark.categories{
    color: #4d4d4d;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 700px;
    word-spacing: 100px;
    background-color: transparent; 
}


a.bookmarks:active {color: darkcyan; }
a.bookmarks:link {color: darkcyan; text-decoration: none; }
a.bookmarks:visited {color: darkcyan; text-decoration: none; }
a.bookmarks:hover {color: darkcyan; text-decoration: none; }

a.writing:active {color: darkblue; }
a.writing:link {color: lightblue; text-decoration: none; }
a.writing:visited {color: lightblue; text-decoration: none; }
a.writing:hover {color: darkblue; text-decoration: none; }

/*
a.origami:active {color: darkblue; }
a.origami:link {color: lightblue; text-decoration: none; }
a.origami:visited {color: lightblue; text-decoration: none; }
a.origami: hover {color: darkblue; text-decoration: none; }

a.about:active {color: darkblue; }
a.about:link {color: lightblue; text-decoration: none; }
a.about:visited {color: blue; text-decoration: none; }
a.about: hover {color: darkblue; text-decoration: none; }

*/


}

h2 {
    color: aquamarine;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    padding-left: 760px;
}



img {
    padding-top: 50px;
    padding-left: 90px;
}

p {
    color: black;
    font-weight:normal;
    font: 15px Nuninto, sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    padding-left: 400px;
    padding-right: 150px;
       
}

mark.kiki2 {
    color:rgba(255, 99, 71, 0.8);
    background-color: white;
    font-weight:bold;
}

