html {
   

}

body {
    height: 100%;
    margin: 0;
    padding: 0;
  
   
}
    
.mainpages {
    position: relative;
    text-align: left;
    color: black;  
}

.main_img{
    position: relative;
}

.pic-style{
    filter:brightness(60%);
}

.text-block {
  position: absolute;
  background-color: transparent;
  bottom: auto;
    right: auto;
    left: 45%;
    top:47%;
}

.cat-title{
    font-family: 'Fjalla One', sans-serif;
    font-size:50px;
    color: white;

}

.bookmarks {
  position: absolute;
  float: left;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
}

.sections {

    overflow: hidden;
    background-color: white;
}

.sections a {
    float: right;
    color: #818D92;
    padding: 1% 3%;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
}



a.bookmarks:active {color: slategrey; }
a.bookmarks:link {color: slategrey; text-decoration: none; }
a.bookmarks:visited {color: slategrey; text-decoration: none; }
a.bookmarks:hover {color: black; text-decoration: none; }

a.links:active {color: darkgrey; }
a.links:link {color: darkgrey; text-decoration: none; }
a.links:visited {color: darkgrey; text-decoration: none; }
a.links:hover {color: black; text-decoration: none; }
    
}

.expl{
    position: absolute;
    top: 100px;
    left: 600px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: black;
    background-color: transparent;
}

.topic-read{
  position: absolute;
  top: 183px;
  left: 500px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 80px;
color: white;
background-color: transparent; 
}
    
.topic-ori{
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
  font-size: 80px;
   color: white;
  background-color: transparent;    
}

.topic-abt{
  position: absolute;
  font-family: 'Fjalla One', sans-serif;
font-size: 80px;
 top: 145px;
  left: -860px;
color: white;
background-color: transparent;    
}




p {
    color: slategrey;
    font-weight:normal;
    font: 15px Nuninto, sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    background-color: gainsboro;

       
}

mark.kiki2 {
    color:rgba(255, 99, 71, 0.8);
    background-color: transparent;
    font-weight:bold;
}


@media screen and (max-width: 900px)
.footer {
    margin-top: 50px;
    margin-left: 14%;
    margin-right: 14%;
    text-align: left;
}

div{
  display: block;  
    
}

.reviews_gallery{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.reviews_gallery li{
    list-style-type: none;
}



.book_title{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: black;
    text-align: center;
}


.book_img{
    height: 300px;
    opacity: 0.6;
    overflow: hidden;
    align-content: center;
}

.book_review_summary{
    color: dimgrey;
    font-weight:normal;
    font: 15px 'Fjalla One', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    background-color: transparent;
    
}

.book_img :hover .book_img{
    opacity: 1;
}


.origami_gallery{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.origami_gallery li{
    list-style-type: none;
}



.orig_name{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: black;
    text-align: center;
}


.orig_img{
    height: 300px;
    opacity: 0.6;
    overflow: hidden;
    align-content: center;
}



.orig_img :hover .orig_img{
    opacity: 1;



