html {
   





   

}

body {

  background-repeat: no-repeat;
  background-size: cover; 
 
  background-origin: content-box;
  
   
}
    

h1  {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    letter-spacing: 1px;
    padding-left: 30px;
}

mark.categories{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 760px;
    word-spacing: 100px;
    background-color: transparent; 
}


a.bookmarks:active {color: darkcyan; }
a.bookmarks:link {color: darkcyan; text-decoration: none; }
a.bookmarks:visited {color: darkcyan; text-decoration: none; }
a.bookmarks:hover {color: darkcyan; text-decoration: none; }

a.writing:active {color: darkblue; }
a.writing:link {color: white; text-decoration: none; }
a.writing:visited {color: white; text-decoration: none; }
a.writing:hover {color: darkblue; text-decoration: none; }



h2 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 40px;
}



img {
    padding-top: 50px;
    padding-left: 90px;
}

p {
    color: black;
    font-weight:normal;
    font: 15px Nuninto, sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    padding-left: 400px;
    padding-right: 150px;
       
}

mark.kiki2 {
    color:rgba(255, 99, 71, 0.8);
    background-color: transparent;
    font-weight:bold;
}
}

